@font-face {
    font-family: 'Bouncy';
    src: url('fonts/Bouncy-PERSONALUSEONLY.woff') format('woff');
  }

  h1 {
    font-family: 'Bouncy', sans-serif;
  }
  p {
    font-family: 'Bouncy', sans-serif;
  } 

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000000, #434343);
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
  }
      
  header {
    background-color: #222;
    padding: 20px;
    font-size: 2em;
  }
  
  .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }  
  
  .pelicula {
    background-color: #333;
    border: 2px solid #555;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    transition: transform 0.3s;
  }
  
  .pelicula:hover {
    transform: scale(1.05);
  }
  
  .pelicula img {
    width: 100%;
    height: auto;
  }
  
  .pelicula h2 {
    font-size: 1em;
    margin: 10px 0;
  }
  
  footer {
    background-color: #111;
    padding: 10px;
    font-size: 0.9em;
  }
  
  nav {
    background-color: #222;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .navbar li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'MiFuentePersonalizada', sans-serif; /* O tu fuente descargada */
    transition: color 0.3s;
  }
  
  .navbar li a:hover {
    color: #ffcc00;
  }

  .categoria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
}

  .categoria.activa {
    display: block;
    opacity: 1;
  }
  
  